<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.css @ categories='wknd.training-fiec'}" />
</sly>

<div
	class="cards-container"
	data-sly-use.cards="com.adobe.aem.guides.wknd.core.models.trainingfiec.model.CardList"
>
	<h1 class="cards-title" data-sly-element="${cards.titleSize}">${cards.title}</h1>
	<div class="cards-container-list">
		<div class="card-content" data-sly-repeat.card="${cards.items}">
			<img src="${card.image}" alt="" />
			<div class="text-content">
				<p>
					${card.description}
				</p>
			</div>
		</div>
	</div>
</div>
